/* ==================== RH Styles ===================== */

p.crt
{
font-family: "Franklin";
color: #000000;
text-align: left;
font-size: 0.85em;
}

h1.chapter
{
line-height: 1.1em;
text-align: center;
font-weight: bold;
line-height: 1.3em;
margin-top: 3em;
margin-bottom: 3em;
}

h1.FM_Toc
{
font-size: 1.8em;
text-align: center;
line-height: 1.1em;
margin-bottom: 0em;
font-family: "Alton";
}



h1.FM
{
font-size: 1.65em;
text-align: center;
line-height: 1.1em;
margin-bottom: 0.5em;
font-family: "Alton";
}


div.acknowledgments,
div.contents,
div.copyright,
div.chapter
{
text-align: left;
}

.squeeze61 {width:61%;}
.squeeze57 {width:57%;}
.squeeze32 {width:32%;}
.squeeze34 {width:34%;}
.squeeze64 {width:64%;}
.squeeze65 {width:65%;}
.isqueeze24_73 {width:24.73em;}
.isqueeze12_73 {width:12.73em;}


.squeeze90 {width:80%;}
.squeeze61 {width:61%;}
.squeeze57 {width:57%;}
.squeeze32 {width:55%;}
.squeeze34 {width:34%;}
.squeeze64 {width:64%;}
.squeeze64a {width:55%;}
.squeeze64b {width:56%;}
.squeeze65 {width:65%;}
.isqueeze24_73 {width:24.73em;}
.isqueeze12_73 {width:5.2em;}




@font-face
{
font-family: "Alton";
font-style: normal;
font-weight: normal;
src:url(fonts/AltonBrown-Regular.otf);
}


@font-face
{
font-family: "Franklin";
font-style: normal;
font-weight: normal;
src:url(fonts/FranklinGothic-Book.otf);
}

@font-face
{
font-family: "Franklin";
font-style: italic;
font-weight: normal;
src:url(fonts/FranklinGothic-BookIt.otf);
}

@font-face
{
font-family: "Franklin";
font-style: normal;
font-weight: bold;
src:url(fonts/FranklinGothic-Med.otf);
}

@font-face
{
font-family: "Franklin";
font-style: italic;
font-weight: bold;
src:url(fonts/FranklinGothic-MedIt.otf);
}

@font-face
{
font-family: "FranklinBold";
font-style: normal;
font-weight: bold;
src:url(fonts/FranklinGothic-Demi.otf);
}

@font-face
{
font-family: "Parry";
font-style: normal;
font-weight: normal;
src:url(fonts/CaeciliaLTStd-Roman.otf);
}

@font-face
{
font-family: "Parry";
font-style: italic;
font-weight: normal;
src:url(fonts/CaeciliaLTStd-Italic.otf);
}

@font-face
{
font-family: "Parry";
font-style: normal;
font-weight: bold;
src:url(fonts/CaeciliaLTStd-Bold.otf);
}

@font-face
{
font-family: "Parry";
font-style: italic;
font-weight: bold;
src:url(fonts/CaeciliaLTStd-BoldItalic.otf);
}

@font-face
{
font-family: "ParryBold";
font-style: normal;
font-weight: bold;
src:url(fonts/CaeciliaLTStd-Heavy.otf);
}

@font-face
{
font-family: "ParryBold";
font-style: italic;
font-weight: bold;
src:url(fonts/CaeciliaLTStd-HeavyItalic.otf);
}

@font-face
{
font-family: "ParryLight";
font-style: normal;
font-weight: normal;
src:url(fonts/CaeciliaLTStd-Light.otf);
}

@font-face
{
font-family: "ParryLight";
font-style: italic;
font-weight: normal;
src:url(fonts/CaeciliaLTStd-LightItalic.otf);
}

@font-face
{
font-family: "Typewriter";
font-style: normal;
font-weight: bold;
src:url(fonts/Typewriter-Bold.otf);
}

@font-face
{
font-family: "Typewriter";
font-style: italic;
font-weight: bold;
src:url(fonts/Typewriter-BoldItalic.otf);
}

@font-face
{
font-family: "Typewriter";
font-style: italic;
font-weight: normal;
src:url(fonts/Typewriter-Italic.otf);
}

@font-face
{
font-family: "Typewriter";
font-style: normal;
font-weight: normal;
src:url(fonts/Typewriter-Regular.otf);
}

@font-face
{
font-family: "Typo";
font-style: normal;
font-weight: normal;
src:url(fonts/TypoAmericanStd.otf);
}

@font-face
{
font-family: "Felt";
font-style: normal;
font-weight: normal;
src:url(fonts/FeltTipRoman.otf);
}

body {
font-family: "Parry";
}

span.red
{
color: #C22518;
}

span.red_2
{
color: #C22518;
font-family: "Alton";
font-weight: bold; 
}


p.right_Alton_Brown
{
    text-align:right;
font-family: "Alton";
font-size: 1.35em;
margin-top:0.2em;
}

span.letter_h
{
font-family: "FranklinBold";
font-weight: bold;
font-size: 1em;
background-color: #D46040;
padding: 1px 5px 1px 5px;
line-height: 0; 
}

span.letter_p
{
font-family: "FranklinBold";
font-weight: bold;
background-color: #6BA1A0;
padding: 1px 5px 1px 5px;
line-height: 0; 
}

span.letter_b
{
font-family: "FranklinBold";
font-weight: bold;
background-color: #2D5469;
padding: 1px 5px 1px 5px;
line-height: 0; 
}

span.letter_m
{
font-family: "FranklinBold";
font-weight: bold;
background-color: #FFC40D;
padding: 1px 5px 1px 5px;
line-height: 0; 
}

@media amzn-kf8
{
	span.letter_m
    {
font-family: "FranklinBold";
font-weight: bold;
background-color: #f2b909;
padding: 1px 5px 1px 5px;
line-height: 0; 
    }
    }
    
    @media amzn-mobi
{
	span.letter_m
    {
font-family: "FranklinBold";
font-weight: bold;
background-color: #f2b909;
padding: 1px 5px 1px 5px;
line-height: 0; 
    }
    }



span.white
{
color: #FFFFFF;
}

h2.FM_Left
{
margin-top: 1em;
margin-bottom: 0.2em;
/*page-break-before: always;*/
text-align: left; 
font-size: 1.6em;
font-family: "Alton";
}

span.FM_Number
{
font-size: .9em;
font-weight: bold;
font-family: "Alton";
color: #C22518;
}

span.FM_Header
{
font-size: .9em;
font-weight: bold;
font-family: "Alton";
color: #C22518;
}

h2.H2_FM
{
padding-top: 0.5em;
margin-bottom: .5em;
text-align: left; 
font-size: 1.45em;
font-family: "Alton";
}

h1.FM_sub
{
line-height: 1.1em;
margin-bottom: 0em;
text-align: center; 
font-size: 1.8em;
font-family: "Alton";
}

h1.FM_sub1
{
line-height: 1.1em;
page-break-before: always; 
margin-bottom: 0em;
text-align: center; 
font-size: 1.8em;
font-family: "Alton";
}

span.FM_sub
{
font-size: 90%;
}

p.FM_Header2
{
/*margin-top: .4em;*/
margin-bottom: 0.1em;
font-family: "Alton";
font-size: 0.85em;
font-weight: bold; 
}

p.FM_Header2a
{
margin-bottom: 0.1em;
margin-top: .9em;
margin-bottom: 0em;
font-family: "Alton";
font-size: 0.85em;
font-weight: bold; 
}

div.fm_font
{
font-family: "Franklin";
}

h3.FM
{
font-family: "Alton";
font-size: 1.2em;
text-align: left;
margin-top: 1.5em;
margin-bottom: 0.2em;
}
h3.FM1
{
font-family: "Alton";
font-size: 1.2em;
text-align: left;
margin-top: 1.5em;
margin-bottom: 0.4em;
}

div.Float_left
{
float:left;
text-align: left;
margin-top: 0em;
margin-right: 0.5em;
margin-bottom: 0em;
}

div.Float_right
{
float:right;
text-align: right;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0.5em;
}

div.Float_right01
{
float:right;
text-align: right;
margin-top: 0em;
margin-bottom: 0em;
}

div.Chapter_Opener1
{
page-break-before:always;
margin-right: 0px;
margin-top: 0em;
margin-bottom: 0;
background-color: #404143;
/*background-image: url(images/Brow_9781101885727_epub3_021_r1.jpg);*/
/*background-position: left top;
background-repeat: no-repeat;
background-size: 100% 100%;*/
font-family: "Alton";
border: 1px solid #ffffff;
}

div.Chapter_Opener2
{
font-size: 1em;
margin-right: 0px;
margin-top: 0em;
margin-bottom: 0;
background-color: #404143;
/*background-image:url(images/Brow_9781101885727_epub3_039_r1.jpg);
background-position: left top;*/
page-break-before:always;
/*background-repeat: no-repeat;
background-size: 100% 100%;*/
font-family: "Alton";
border: 1px solid #ffffff;
}
div.Chapter_Opener3
{
font-size: 1em;
margin-right: 0px;
margin-top: 0em;
margin-bottom: 0;
background-color: #404143;
/*background-image:url(images/Brow_9781101885727_epub3_048_r1.jpg);
background-position: left top;*/
page-break-before:always;
/*background-repeat: no-repeat;
background-size: 100% 100%;*/
font-family: "Alton";
border: 1px solid #ffffff;
}

div.Chapter_Opener4
{
font-size: 1em;
margin-right: 0px;
margin-top: 0em;
margin-bottom: 0;
background-color: #404143;
/*background-image:url(images/Brow_9781101885727_epub3_068_r1.jpg);
background-position: left top;*/
page-break-before:always;
/*background-repeat: no-repeat;
background-size: 100% 100%;*/
font-family: "Alton";
border: 1px solid #ffffff;
}
div.Chapter_Opener5
{
font-size: 1em;
margin-right: 0px;
margin-top: 0em;
margin-bottom: 0;
background-color: #404143;
/*background-image:url(images/Brow_9781101885727_epub3_084_r1.jpg);
background-position: left top;*/
page-break-before:always;
/*background-repeat: no-repeat;
background-size: 100% 100%;*/
font-family: "Alton";
border: 1px solid #ffffff;
}
div.Chapter_Opener6
{
font-size: 1em;
margin-right: 0px;
margin-top: 0em;
margin-bottom: 0;
background-color: #404143;
/*background-image:url(images/Brow_9781101885727_epub3_111_r1.jpg);
background-position: left top;*/
page-break-before:always;
/*background-repeat: no-repeat;
background-size: 100% 100%;*/
font-family: "Alton";
border: 1px solid #ffffff;
}
div.Chapter_Opener7
{
font-size: 1em;
margin-right: 0px;
margin-top: 0em;
margin-bottom: 0;
background-color: #404143;
/*background-image:url(images/Brow_9781101885727_epub3_130_r1.jpg);
background-position: left top;*/
page-break-before:always;
/*background-repeat: no-repeat;
background-size: 100% 100%;*/
font-family: "Alton";
border: 1px solid #ffffff;
}

table.table3
{
margin-bottom: 0em;
width: 100%;
padding: 0.5em 1em 1em 1em;
/*border-top: 1px solid #ffffff; */
/*margin-left: 1em;
margin-right: 1em;*/
}

table.table4
{
margin-bottom: 0em;
width: 96%;
margin-top: 50%;
padding-bottom: 2em;
margin-left: 1em;
margin-right: 1em;
}


td.td_width
{
width: 40%;
padding-left: 1em;
}


div.CC_list
{
padding-top: 40%;
padding-left: 1em;
padding-bottom: 1em;
}
p.CC_list
{
margin-top: 1.1em;
/*margin-left: 1em;*/
text-indent:-1em;
font-size: .83em;
text-align: left;
}

p.CC_list1
{
margin-top: 1.1em;
margin-left: 1em;
text-indent:-1em;
font-size: .83em;
text-align: left;
}

h1.Recipe_Title
{
text-align: left;
line-height: 1.2em;
page-break-before: always; 
font-size: 1.7em;
padding-top: 0.7em;
font-family: "Alton";
margin-bottom: .4em;
}

h1.Recipe_Title_nb
{
text-align: left;
line-height: 1.1em;
page-break-before: avoid; 
font-size: 1.7em;
margin-top: 0em;
font-family: "Alton";
margin-bottom: .4em;
}

h1.SUBRecipe_Title
{
line-height: 1.1em;
text-align: left;
font-size: 1.4em;
padding-top: 0.7em;
font-family: "Alton";
margin-bottom: .4em;
}
h1.Recipe_Title_sub
{
line-height: 1.1em;
page-break-before: always; 
padding-top: 0.7em;
text-align: left;
font-size: 1.25em;
padding-top: 1.5em;
font-family: "Alton";
margin-bottom: .4em;
}

p.Yield
{
margin-top: 0; 
line-height: 1.5;
text-align: left;
font-family: "Typo";
font-size: 0.65em;
margin-bottom: 1em;
}

div.IL_yield
{
font-size: .85em;
text-align: left;
font-family: "Alton"; 
margin-top:0em;
margin-bottom:0.3em;
margin-left:1em;
text-indent:-1em;
}


p.Headnote
{
font-size: 0.9em;
line-height: 1.4em; 
margin-top: 1em;
text-align: left;
}

p.Headnote_Indent
{
font-size: 0.9em;
line-height: 1.4em; 
margin-top: 0em;
text-align: left;
text-indent:1em;
}
p.Headnote_Indent1
{
margin-top: 2em;
text-align: left;
text-indent:1em;
}


div.Ingredients
{
margin-top: 1.3em; 
margin-bottom: 1.3em;
font-family: "Franklin";
}

div.Ingredients2
{
margin-top: 2em; 
margin-bottom: 1.3em;
font-family: "Franklin";
}


div.IL_item
{
font-weight: bold; 
font-size: .9em;
margin-bottom:0.2em;
margin-left:1em;
text-indent:-1em;
}
div.IL_item2
{
font-weight: bold; 
font-size: .9em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:-0em;
}
div.IL_Headnote
{
font-family: "Parry";
font-size: 0.9em;
margin-bottom:0.2em;
margin-top:0.7em;
margin-left:1em;
text-indent:-1em;
}
div.IL_item1
{
font-weight: bold; 
font-size: .9em;
margin-bottom:0.5em;
margin-top:1em;
margin-left:1em;
text-indent:-1em;
}
div.IL_item_cus
{
font-family: "Alton";
margin-bottom:0.5em;
margin-top:0.3em;
font-size: 0.9em;
margin-left:1em;
text-indent:-1em;
}

div.method
{
margin-top: 1.5em;
}
div.top
{
margin-top: 1.0em;
margin-bottom: 1.0em;
}
p.method
{
font-size: .9em;
font-family: "Franklin";
margin-top: 0.5em;
text-align: left;
}
p.method_n
{
font-size: .9em;
font-family: "Franklin";
margin-top: 0em;
text-align: left;
}
p.method1
{
margin-left:1em;
text-indent:-1em;
font-size: .9em;
font-family: "Franklin";
text-align: left;
}

p.step
{
font-size: .9em;
font-family: "Franklin";
margin-top: 0.5em;
text-align: left;
}


span.method_no
{
font-weight: bold;
font-size: 1.05em;
font-family: "Alton";
}

div.IL_item_top
{
margin-top: 0em;
font-family: "Alton"; 
font-size: 1em;
margin-bottom: 0.2em; 
}

div.IL_item_top1
{
margin-top: 1.3em;
font-family: "Alton"; 
font-size: 1em;
margin-bottom: 0.2em;
}


h2.Method_Head
{
margin-top: 1.3em;
font-size: 1.1em;
text-align: left;
font-family: "Alton"; 
margin-bottom: 0.2em;
}

h2.Method_Head2
{
margin-top: 2em;
font-size: 1.1em;
text-align: left;
font-family: "Alton"; 
margin-bottom: 0.2em;
}

div.Notes
{
margin-top: 1.5em;
}

p.notes
{
font-size: .8em;
line-height: 1.4em;
font-family: "Typewriter";
text-align: left;
}

p.notes1
{
line-height: 1.4em;
text-align: left;
margin-top: 0.6em;
font-size: .8em;
font-family: "Typewriter";
}

span.Recipe_Title
{
font-size: 80%;
}

p.note
{
font-size: 0.9em;
font-family: "Franklin";
margin-top: 0.5em;
text-align: left;
}

div.caption
{
font-family: Typewriter; 
font-size: 0.8em; 
line-height: 1.4em;
text-align: center;
margin-top: 0.8em;
}
p.toc_fm1
 {
	text-align: center;
	margin-top:1.3em;
	font-size:0.8em;
}
p.toc_fm2
 {
	text-align: center;
	margin-top:.6em;
	margin-bottom:0.6em;
	font-size:0.8em;
}
p.toc_bm2
 {
	text-align: center;
	margin-top:.6em;
	font-size:0.8em;
}
div.block
{
margin-left:5%;
margin-right:5%;
font-family: "Parry";
margin-top:1.5em;
}
div.blocka
{
font-family: "Parry";
margin-top:1.1em;
}

div.block1
{
margin-left:1em;
margin-top:1.0em;
margin-bottom:1.0em;
}
div.both
{
clear: both;
}
td.td
{
vertical-align: top;
}
span.note_head
{
font-family: "Alton";
}
div.Paper
{
font-size: 1em;
line-height: 1.3em;
margin-right: 0px;
padding-left:1em;
padding-right:1em;
margin-top: 1.5em;
margin-bottom: 0;
background-color: #FFFFFF;  
background-image:url(images/Paper.jpg);
background-position: left top;
background-repeat:repeat-y;
background-size:100%;
border: 1px solid #ffffff;
}
p.Headnote_text
{
margin-left:1em;
text-indent:-1em;
text-align: left;
}
div.Callout_Page
{
page-break-before: always; 
border-top: 2px solid #000000; 
border-bottom: 2px solid #000000; 
}
span.LS_small
{
font-size: .8em;
}
p.bm_head
{
font-family: "Alton";
font-weight: bold;
font-size: 1.0em;
margin-bottom: 0.4em;
margin-top:1.4em;
}

p.bm_subhead
{
font-family: "Alton";
font-size: 1.0em;
margin-top:1.4em;
}

p.bm_text
{
margin-left: 1em;
text-indent:-1em;
text-align: left;
font-family: "Franklin";
font-size:.95em;
}
h1.adc
{
line-height: 1.1em;
font-family: "Alton";
font-size: 1.6em;
margin-bottom: 0.4em;
padding-top: 0.5em;
}
p.adc_text
{
font-size: 0.9em;
font-family: "Typo";
color: #FFFFFF;
text-align: center;
margin-top:1.5em;
}
p.adc_text1
{
font-size: 0.9em;
font-family: "Typo";
text-align: center;
margin-top:.1em;
}
span.back
{
padding: 0px 6px.0px 6px;
line-height: 0; 
color: #FFFFFF;
background-color: #C52526;
}
span.back1
{
padding: 0px 6px.0px 6px;
line-height: 0; 
color: #FFFFFF;
background-color: #C52526;
}

div.block100
{
width:50%;
}

span.red1
{
-webkit-text-fill-color: #C22518;
}

.caec {
    font-size: 0.9em;
    line-height: 1.5em;
}

.frank {
font-family: "Franklin";
font-weight: bold; 
}

span.alton123{
    font-family: "Felt";
    font-size: 1.15em;
}

@media amzn-kf8
{
	span.alton123
    {
    font-family: "Felt";
    font-size: 1em;
    }
    }
    
    @media amzn-mobi
{
	span.alton123
    {
    font-family: "Felt";
    font-size: 1em;
    }
    }


